Fynd/src/Fynd/Model/Schema/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Root">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Entry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Property" />
                            <xs:element name="Field" />
                            <xs:element name="DataType" />
                            <xs:element name="DataLength" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Table" type="xs:string" use="required" />
            <xs:attribute name="Class" type="xs:string" use="required" />
            <xs:attribute name="PrimaryProperty" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>