Fynd/src/Fynd/Config/Schema/MapConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="FyndConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MapConfig">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="RequestMaps">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Request">
                                            <xs:complexType>
                                                <xs:attribute name="RequestModule" type="xs:string" use="required" />
                                                <xs:attribute name="ProcessorName" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>